.chart-div {
  justify-content: center;
  align-items: center;
  display: flex;

}

.chart {
  width: 55%;
  height: 25rem;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

