@keyframes heartbeat {
  0% {
    font-size: 100px;
  }

  30% {
    font-size: 160px;
    left: 9px;
    bottom: 40px;
  }

  60% {
    font-size: 100px;
    left: 26px;
    bottom: 5px;
  }

  80% {
    font-size: 120px;
    left: 20px;
    bottom: 17px;
  }

  100% {
    font-size: 100px;
  }
}

.stock-card-div {
  display: flex;
}

.stock-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(31, 31, 31);
  border-radius: 15px;
  height: 45rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 4rem;
  position: relative;
  transition: transform 750ms;
  box-shadow: 20px 20px 50px 5px rgb(0, 0, 0);
}


.button-row {
  align-items: center;
  height: 20%;
  width: 100%;
  margin-bottom: 16px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;

}

.button {
  width: 7rem;
  height: 7rem;
  border-radius: 100px;
  cursor: pointer;
  flex-shrink: 0;
}

.button:first-child {
  margin-left: 2rem;
  background-color: rgb(54, 54, 54);

}

.button:nth-child(2) {
  background-color: rgb(54, 54, 54);
}

.button:nth-child(3) {
  margin-right: 2rem;
  background-color: rgb(54, 54, 54);
}

.white-heart {
  color: white;
  fill: white;
  font-size: 100px;
  position: relative;
  left: 26px;
  bottom: 5px;
  transition: color 150ms, fill 150ms;
}

.white-heart:hover {
  color: rgb(255, 156, 194);
  fill: rgb(255, 156, 194);

}

.arrow {
  font-size: 85px;
  position: relative;
  left: 11px;
  bottom: 5px;
  transition: color 150ms, fill 150ms;
}

.arrow:hover {
  color: rgb(116, 116, 116)
}


.options-button {
  background-color: rgb(31, 31, 31);
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  margin-top: 4rem;
  margin-left: 3rem;
  cursor: pointer;
  transition: 300ms;

}

.options-button:hover {
  transform: rotate(35deg)
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid-item {
  font-size: 45px;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}