.table-div {
  justify-content: center;
  align-items: center;
  display: flex;

}

.table {
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 1.6rem;
  width: 65%;
  border-radius: 1rem;
  table-layout: fixed;
}

.table-quarterly {
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 1.6rem;
  width: 80%;
  border-radius: 1rem;
  table-layout: fixed;
}

.subrow-button {
  height: 25px;
  font-size: 20px;
  padding: 0 3px 0 7px;
  border-radius: 2px;
  margin-right: 4px;

}

.subrow-button:hover {
  background-color: rgba(105, 104, 104, 0.274);
}

.table thead tr,
.table-quarterly thead tr {
  background-color: rgb(10, 10, 10);
  text-align: left;
  font-weight: 600;
}

.table tbody tr,
.table-quarterly tbody tr {
  background-color: rgb(10, 10, 10);
  cursor: pointer;
}

#real-row-expense {
  background-color: rgba(10, 10, 10);
  padding: 8px 16px;
  font-size: 23px;
  box-sizing: border-box;
  height: 45px;
}

#real-row-expense-hover {
  background-color: rgba(36, 36, 36);
  padding: 8px 16px;
  font-size: 23px;
  box-sizing: border-box;
  height: 45px;


}

#YoY-row {
  height: 25px;
  font-size: 19px;
  font-style: italic;
  border: 0;
  position: relative;
  top: 5px;
  text-align: left;
}

#margin-row {
  padding: 3px 16px;
  height: 25px;
  font-size: 19px;
  font-style: italic;
  background-color: rgb(10, 10, 10);
  border: 0;


}

#margin-row-hover {
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  background-color: rgb(34, 34, 34);
  border: 0
}

.margin-color {
  color: rgb(255, 255, 154);
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.table tbody tr:hover,
.table-quarterly tbody tr:hover {
  background-color: rgb(36, 36, 36);
}

.table th,
.table-quarterly th,
.table td,
.table-quarterly td {
  padding: 14px 16px;
  border-top: 1px solid rgb(51, 51, 51);
  text-align: left;
  box-sizing: border-box;
  height: 59px;
}


.row-dropdown {
  border: 1px black solid;
  position: relative;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 21px;
  margin-right: 12px;
  background-color: rgba(128, 128, 128, 0.199);
}

.row-dropdown-menu {
  font-size: 20px;
  position: absolute;
  right: 3.5rem;
  margin-top: -2.9rem;
  top: calc(100% + .4rem);
  background-color: rgb(36, 36, 36);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
  border-radius: .2rem;
}

.row-dropdown-row {
  width: 180px;
  padding: .5rem 1rem;
  border: 2px;
  border-radius: .2rem;

}

.row-dropdown-row:hover {
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}


.first-column {
  width: 45%;
  text-align: left;
}

.other-columns {
  width: 13%;
  text-align: center;
}

.color-bar {
  background-color: red;
  width: 8px;
  margin-left: -16px;
  margin-right: 16px;
}

#toggled-margin {
  background-color: rgba(40, 40, 40);
  padding: 3px 16px;
  height: 25px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-grossMargin {
  background-color: rgba(0, 81, 255, 0.219);
}

#toggled-netMargin {
  background-color: rgba(255, 255, 0, 0.377);
}



#toggled-costofGoodsAndServicesSold-expense {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 8px 16px;
  height: 45px;
  font-size: 23px;
}

#toggled-costofGoodsAndServicesSoldYoY {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-costofGoodsAndServicesSoldMargin {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}


#toggled-toggleGrossProfitYoY {
  background-color: rgba(77, 208, 225, 0.596);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-toggleGrossProfitMargin {
  background-color: rgba(30, 231, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}


#toggled-toggleOperatingExpenses-expense {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 8px 16px;
  height: 45px;
  font-size: 23px;
}

#toggled-toggleOperatingExpensesYoY {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;

}

#toggled-toggleOperatingExpensesMargin {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  ;
  border: 0;

}


#toggled-operatingIncomeYoY {
  background-color: rgba(179, 136, 255, 0.55);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-operatingIncomeMargin {
  background-color: rgba(179, 136, 255, 0.55);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-otherNonOperatingIncome-expense {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 8px 16px;
  height: 45px;
  font-size: 23px;
}

#toggled-otherNonOperatingIncomeYoY {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-otherNonOperatingIncomeMargin {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}


#toggled-incomeBeforeTaxYoY {
  background-color: rgba(245, 127, 23, 0.7);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-incomeBeforeTaxMargin {
  background-color: rgba(245, 127, 23, 0.7);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-taxes-expense {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 8px 16px;
  height: 45px;
  font-size: 23px;
}

#toggled-taxesYoY {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-taxesMargin {
  background-color: rgba(231, 12, 12, 0.486);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}


#toggled-netIncomeYoY {
  background-color: rgba(251, 193, 45, 0.603);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-netIncomeMargin {
  background-color: rgba(251, 193, 45, 0.603);
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}


#toggled-totalAssets {
  background-color: rgba(0, 81, 255, 0.377);
}

#toggled-totalLiabilities {
  background-color: rgba(3, 245, 164, 0.418);
}

#toggled-totalEquity {
  background-color: rgba(255, 238, 0, 0.39);
}



#toggled-operatingCashflow {
  background-color: rgba(0, 81, 255, 0.377);
}

#toggled-operatingCashflowMargin {
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-investingCashflow {
  background-color: rgba(3, 245, 164, 0.418);
}

#toggled-investingCashflowMargin {
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-financingCashflow {
  background-color: rgba(255, 77, 225, 0.432);
}

#toggled-financingCashflowMargin {
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}

#toggled-freeCashflow {
  background-color: rgba(255, 238, 0, 0.39);
}

#toggled-freeCashflowMargin {
  padding: 3px 16px;
  height: 32px;
  font-size: 19px;
  font-style: italic;
  border: 0;
}